@import "~bulma/sass/utilities/initial-variables"

@font-face
  font-family: Manczi
  src: url('../manczi.otf')
  font-weight: bold

// Config vars
// Kaldi logo brand color: #FD461E
$manczi-pink: #ED1B68
$manczi-blue: #009999
$manczi-blue-light: #BDE3DE
$manczi-blue-text-small: #005757
$manczi-blue-text-big: #008080

$primary: $manczi-pink
$primary-invert: $manczi-blue
$body-color: #333
$black: #2b2523

html, body
  color: $manczi-blue-text-small !important
  font-family: 'Josefin Sans', sans-serif !important
  width: 100%
  overflow-x: hidden

.manczi
  font-family: 'Manczi'
  font-size: 5.5em
  color: $manczi-blue
  font-weight: bold
  text-align: center
  position: relative

.except-mobile
  display: none
  @media only screen and (min-width: 1088px)
    display: block

.only-mobile
  display: block
  @media only screen and (min-width: 1088px)
    display: none

.navbar
  background-color: transparent !important
  @media only screen and (min-width: 1088px)
    background-color: transparent !important
  height: 90px

.navbar .navbar-menu
  box-shadow:none !important
  display: none
  background-color: $manczi-blue-light !important
  @media only screen and (min-width: 1088px)
    background-color: transparent !important
    display: flex
  justify-content: space-evenly

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 290px
  position: relative
  left: 50%
  right: 50%
  margin: 0em -50vw
  background-size: cover
  background-position: 10% 52.5%

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: #CC3700
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px #CC3700
    box-shadow: inset 0 0 0 2px #f40
    -webkit-transition: all .15s ease
    transition: all .15s ease

.margin-top-0
  margin-top: 0 !important

.navbar-item
  &:hover
    color: $primary !important
  &:focus
    color: $primary !important

.navbar-item .icon
  color: $primary

// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .navbar-item.logo
  padding: 0 1rem
footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent

//Menu overrides
$menu-item-color: $white-ter
$menu-item-hover-color: $black !important
$menu-item-hover-background-color: $black
$menu-item-active-color: $manczi-blue
$menu-item-active-background-color:	$manczi-blue
$menu-list-border-left: 1px solid $manczi-blue
$menu-label-color: $white-ter


.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  display: flex
  list-style: none !important
  text-align: left
  padding: 0px
  margin: 20px 0px !important
  flex-direction: column
  align-items: center
.social
  padding: 2em
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: $white-ter
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

// blog roll
.blog-list-item.is-featured
  background-color: #d6400033;
.blog-list-item header
  display: flex;
  margin-bottom: 1em;
.blog-list-item .featured-thumbnail
  flex-basis: 35%;
  margin: 0 1.5em 0 0;

.blog-list-item
  &:hover
    cursor: pointer
  &:hover .post-meta div
    padding: 40px 5px 22px
    cursor: pointer

@import "~bulma"


// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%;

+mobile
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center;
    max-width: 70%;
    margin: 0 0 1em;

.btn
  box-shadow: none
  color: $manczi-blue
  min-width: 150px
  transition: all 0.2s
  display: flex
  justify-content: center
  align-items: center
  &:hover
    background-color: $manczi-blue
    color: white
    cursor: pointer

.btn-pink
  @extend .btn
  border-radius: 4px
  box-shadow: none
  width: 100%
  height: 60px
  transition: all 0.3s
  background-color: white !important
  border: 2px solid $manczi-pink
  color: $manczi-pink !important
  &:hover
    border: 2px solid $manczi-pink
    background-color: $manczi-pink !important
    color: white !important

.btn-blue
  @extend .btn
  width: 100%
  height: 60px
  background-color: white !important
  border: 2px solid $manczi-blue
  color: $manczi-blue !important
  &:hover
    border: 2px solid $manczi-blue
    background-color: $manczi-blue !important
    color: white !important

footer.footer
  z-index: 97
  height: auto
  width: 100vw
  padding: 3rem 0rem 3.5rem 0rem
  background-color: $manczi-blue-light
  a
    color: black
  .contact
    color: black
    line-height: 2em

.demo
  position: absolute
  bottom: 0px
  left: 0px
  height: 100px
  width: 100%

#section10 a
  padding-top: 60px

#section10 a span
  position: absolute
  top: 0
  left: 50%
  width: 30px
  height: 50px
  margin-left: -15px
  border: 2px solid $manczi-pink
  background-color: rgba(0,0,0,0.6)
  @media only screen and (min-width: 1088px)
    background-color: rgba(250,250,250,0.6)
  border-radius: 50px
  box-sizing: border-box

#section10 a span::before
  position: absolute
  top: 10px
  left: 50%
  content: ''
  width: 6px
  height: 6px
  margin-left: -3px
  background-color: $manczi-pink
  border-radius: 100%
  -webkit-animation: sdb10 2s infinite
  animation: sdb10 2s infinite
  box-sizing: border-box

@-webkit-keyframes sdb10
  0%
    -webkit-transform: translate(0, 0)
    opacity: 0
  40%
    opacity: 1
  80%
    -webkit-transform: translate(0, 20px)
    opacity: 0
  100%
    opacity: 0

@keyframes sdb10
  0%
    transform: translate(0, 0)
    opacity: 0
  40%
    opacity: 1
  80%
    transform: translate(0, 20px)
    opacity: 0
  100%
    opacity: 0

.navbar-item
  &:hover
    background-color: $manczi-pink !important

.navbar-item:hover a
  color: white !important

.menu-list a
  border-radius: 4px

.menu-list a:hover
  color: white !important

a.has-text-primary:hover, a.has-text-primary:focus
  color: white !important

.active
  color: $manczi-pink
  font-weight: 600


#modal
  z-index: 1000

.gallery-modal
  background-color: rgba(0, 0, 0, 0.5)
  position: fixed
  height: 100%
  width: 100%
  top: 0
  left: 0
  display: flex
  z-index: 999
  align-items: center
  justify-content: center
  .gallery
    left: 0px
    background-color: white
    .gallery-image
      max-width: 75vw

.gallery-folder-list
    margin-left: 0px
    li
      margin-top: 0px !important
    .gallery
      margin-left: 0px
      list-style-type: none
      position: relative
      display: flex
      width: 100%
      flex-wrap: wrap
      margin-top: 0px
      .gallery-button
        position: relative
      .gallery-image
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 280px
        @media only screen and (min-width: 480px)
          width: auto
          height: auto
        margin-top: 0.25em
        &:hover
          cursor: pointer
        .dog
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
          width: 350px
          height: 250px
          @media only screen and (min-width: 480px)
            width: 140px
            height: 140px


.gallery-modal
  .gallery
    background-color: transparent
    position: relative
    width: auto
    right: -50px
    .gallery-close
      position: absolute
      top: -40px
      right: -40px
      color: rgba(250,250,250,0.5)
      &:hover
        cursor: pointer
    .gallery-image
      width: auto
      max-height: 75vh
      background-size: contain
    .gallery-image-description
      position: absolute
      width: 100%
      color: white !important
      text-align: center
      background-color: rgba(0,0,0,0.7)
      padding: 5px 10px
      border-radius: 2px
    .gallery-button-container
      position: absolute !important
      top: 0px
      display: flex
      justify-content: center
      align-items: center
      height: calc(100% - 8px)
      width: 50px
      background-color: $manczi-blue
      opacity: 0.6
      transition: opacity .2s
      border: none
      &:hover
        cursor: pointer
        opacity: 0.8
        .gallery-button
          color: rgba(250,250,250,0.95)
      .gallery-button
        background-color: transparent
        border: none
        color: rgba(250,250,250,0.7)
    .gallery-button-left
      left: 0px
    .gallery-button-right
      right: 0px

.folder
  position: relative
  width: 200px
  height: 200px
  display: flex
  justify-content: center
  align-items: center
  transition: transform .2s
  margin-bottom: 80px
  margin-top: 20px
  top: 10px
  @media only screen and (min-width: 1088px)
    top: 60px
  .folder-image
    transition: transform .2s
  &:hover .title-image
    transform: rotate(360deg)
  &:hover .camera
    transition: all .1s linear
    top: -30px
    right: -60px

  .title
    position: absolute
    bottom: -70%
    height: 50px
    // color: #330000 !important
    text-align: center
  .camera
    color: white
    position: relative
    right: -50px
    top: -50px
    transition: all .1s .3s linear

  .folder-image
    position: absolute
    width: 170px
    height: auto
    background-size: contain
    background-repeat: no-repeat
  .title-image
    transition: all .4s linear
    position: relative
    width: 200px
    height: auto
    background-size: contain
    background-repeat: no-repeat
    border: 2px solid white
    left: 0px
    top: 0px
  .folder-image:first-child
    bottom: 0px
    left: 20px
    z-index: 3
  .folder-image:nth-child(2)
    bottom: 5px
    left: 15px
    z-index: 2
    transform: rotate(15deg)
  .folder-image:nth-child(3)
    bottom: -5px
    left: 35px
    z-index: 1
    transform: rotate(-7deg)

.gallery-folder-image
  width: 100%
  min-width: 200px
  min-height: 220px
  background-repeat: no-repeat
  background-size: cover
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  border-radius: 2px
  &:hover
    cursor: pointer

.input
  min-height: 60px

.textarea
  min-height: 200px

h3.is-2, h4.is-3, a
  color: $manczi-blue

.full-width-mobile
  @media only screen and (max-width: 1087px)
    width: 100%
